/* global.css */
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: coral;
    text-align: center;
    margin-top: 2rem;
  }
  
  p {
    max-width: auto;
    margin: 1rem auto;
    line-height: 1.6;
    padding: 0 1rem;
    text-align: center;
  }

  a {
    color: black;
    font-family:Helvetica, Arial, sans-serif
  }

  a:hover {
    color:coral
  }
  